{% extends "instacart_shopper/base.html" %}

{% block header %}
    <div class="navbar container">  
      <div class="navbar-inner">  
        <div class="container-fluid">
        <div class="btn-group pull-right">
                <a class="btn btn-danger" href="#"><i class="icon-user icon-white"></i> {{ applicant.email }} </a>
                <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-pencil"></i> Edit Profile </a></li>
                    <li><a href="/instacart_shopper/logout/"><i class="icon-plane"></i> Logout </a></li>
                </ul>
            </div>
        </div>  
      </div>  
    </div> 
{% endblock %}

{% block content %}
<div class="container">

   <section>
    Howdie <b>{{ applicant.name }}</b>
    <br/>
    <p>Your application status is currently <i>{{ applicant.workflow_state}}</i> </p>
   </section>
   
   <hr>
   
   <div>
            <form class="form-horizontal" id="applicant_form" method="post" action="/instacart_shopper/update/" 
                role="form" enctype="multipart/form-data" onsubmit="validate_form()">
                {% csrf_token %}
                  <div class="control-group">  
                    <label class="control-label" for="name"><b>Name</b></label>  
                    <div class="controls">  
                      <input type="text" id="name" name="name" value="{{ applicant.name }}" required>  
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="email"><b>Email</b></label>  
                    <div class="controls">  
                      <input type="email" id="email" name="email" value="{{ applicant.email }}" required readonly>  
                    </div>  
                  </div>   
                  
                  <div class="control-group">  
                    <label class="control-label" for="phone"><b>Phone</b></label>  
                    <div class="controls">  
                      <input type="text" id="phone" name="phone" value="{{ applicant.phone }}" pattern="[1-9][0-9]{9}" required>  
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="location"><b>Location</b></label>  
                    <div class="controls">  
                      <input type="text" id="location" name="location" value="{{ applicant.location }}" required>  
                    </div>  
                  </div>                                                                     
                  
               <div class="form-actions">  
                   <button id="applicant_submit" type="submit" class="btn-large btn-success">Edit Application</button>  
               </div>                 
            </form>
   </div>  
</div>
{% endblock %}